/*estilos adivina pokemon*/
.img-gues{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3%;
    .advpk{
        width: 70%;
    }
}

.adivinado{
    img{
        width: 70%;
    }
}

.wrong{
    background-color: red;
}

.cont-adv{
    padding: 5%;
}

.styl-imgg{
    filter: brightness(0); 
    left: 23%;
    width: 30%; 
    position:absolute; 
    z-index:1;
}

.form-elem{
    @include align-center;
    justify-content: center;
}

.div-form{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabla{
    @include align-center;
    justify-content: center;
    table{
        tr{
            td{
                transition-duration: 1s;
                overflow:hidden;
                &:hover{
                    -webkit-transform:scale(1.3);
                    transform:scale(1.3);
                }
            }
        }
    }
}