/*Main*/
h1{
    text-align: center;
    font-family: $font-title-secondary;
}

.img-carrousel{
    padding: 5%;
    img{
        width: 90%;
    }
}

.FAQ{
    li{
        padding: 1%;
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 700px;
        
    }
}

.carousel{
    &__ant{
        opacity: 0;
    }
    &__nxt{
        opacity: 0;
    }
}

.pokemon-ini{
    &__bulbasur-box{
        @include align-center;
        img{
            width: 100%;
            transition-duration: 1s;
            overflow:hidden;
            &:hover{
                -webkit-transform:scale(1.3);
                transform:scale(1.3);
            }
        }
        span{
            @include text-center;
        }
    } 
    &__charmander-box{
        @include align-center;
        img{
            width: 100%;
            transition-duration: 1s;
            overflow:hidden;
            &:hover{
                -webkit-transform:scale(1.3);
                transform:scale(1.3);
            }
        }
        span{
            @include text-center;
        }
    }
    &__squirtle-box{
        @include align-center;
        img{
            width: 100%;
            transition-duration: 1s;
            overflow:hidden;
            &:hover{
                -webkit-transform:scale(1.3);
                transform:scale(1.3);
            }
        }
        span{
           @include text-center;
        }
    }
}


.pokemon-ini{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tipos-poke {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    img{
        width: 100%;
    }
}

.galeria{
    .hov{
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: center;
    img{
        width: 400px;
        
    }
    }
    
}

.info-texto{
    padding: 10%;
    p{
        text-align: justify;
    }
    h3{
        text-align: center  ;
    }
}
