/*general*/
h3{
    font-family: $font-title-secondary;
    text-align: center;
}

p, label, td{
    font-family: $font-text;
    text-align: center;
}

li{
    font-family: $font-text;
 
}

img{
    border-radius: 20px;
    transition-duration: 1s;
    overflow:hidden;
        &:hover{
            filter: opacity(.5);
            -webkit-transform:scale(1.3);
            transform:scale(1.3);
        }
}

.selector-for-some-widget {
    box-sizing: content-box;
} 