@media only screen and (max-width: 750px){
    .cont-foot{
        &__img-foot{
            width: 250px;
        }
    }

    .tipos-poke {
        img{
            
        }
    }

    .galeria{
        img{
            width: 250px;
        }
    }

    .FAQ{
        li{
            
            width: 300px;
        }
    }
}

@media only screen and (max-width: 400px){
    .cont-foot{
        &__img-foot{
           
            width: 100px;
        }
    }

    .galeria{
        img{
            width: 100px;
        }
    }

    .FAQ{
        li{
            width: 150px;
        }
    }
}
