$color-header: #3e90b6;
$color-btn-header: #5ebdf0;
$font-title-secondary: "Libre Franklin", sans-serif;
$font-text: "Kanit", sans-serif;
$font-socialMedia: "Rubik", sans-serif;

//maps
$img-size:(
    small: 50px,
    medium: 100px,
    big:250px,
    ebig: 400px

);